*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Remueve el margen de toda la pagina*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/*darle padding a las sections the texto*/
header {
    height: 85px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    background: linear-gradient(277.29deg, #003E7A 0%, #004B93 106.04%);
    font-size: 14px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 25px;
}

.logoIce {
    max-width: 80%;
    display: block;
}

.lupa {
    width: 40px;
    height: 40px;

}

.mapaSitio {
    width: 40px;
    height: 40px;
}

.hover {
    text-decoration: none;
    color: #fff;
}

.ocultar {
    color: #fff;
    text-decoration: none;
}

.ocultar:hover {
    text-decoration: none;
}

.carrusel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.sliders {
    width: 400%;
    height: 100%;
    display: flex;
}

.imagenes {
    width: calc(100%/4);
    height: 100%;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botonIzquierda,
.botonDerecha {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 5rem;
    background-color: hsla(0, 0%, 100%, 0.896);
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: hsla(240, 84%, 59%, 0.719);
    transform: translate(0, -50%);
    transition: 0.5s ease;
    user-select: none;
}

.botonInfo {
    display: flex;
    position: absolute;
    top: 85%;
    height: 50px;
    width: 120px;
    font-size: 14px;
    background: #FCD101;
    border: none;
    box-shadow: 0px 10px 22px rgba(96, 96, 96, 0.3);
    border-radius: 16px;
    padding: 1em;
    justify-content: center;

}

.decoracionBoton {
    text-decoration: none;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}


.infoTitulo {
    display: flex;
    position: absolute;
    top: 70%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, hsla(240, 28%, 7%, 0.639) 8%, rgba(108, 114, 116, 0.938048547055541) 93%);
}

.infoSubT {
    display: flex;
    position: absolute;
    top: 75%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, hsla(240, 28%, 7%, 0.639) 8%, rgba(108, 114, 116, 0.938048547055541) 93%);
}

.botonMover {
    display: flex;
    justify-content: center;
}



.botonDerecha:hover,
.botonIzquierda:hover {
    background-color: white;
    color: blue;
}

.botonDerecha {
    right: 10px;
}

.botonIzquierda {
    left: 10px;
}

.textoBanner {
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, hsla(240, 28%, 7%, 0.639) 8%, rgba(108, 114, 116, 0.938048547055541) 93%);
    /*background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 114, 116, 0.938048547055541) 100%);*/
}

.textoSaludo {
    text-align: center;
    color: #004B93;
    height: 160px;
}

.estadosFinancieros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.textoEstados {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
    padding-right: 100px;

}

.clickEstados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagenEstados {
    text-align: end;
    padding-right: 20px;
}

.textoConsultas {
    text-align: center;
    color: #004B93;
    padding-top: 40px;
    height: 120px;
}

.serviciosGrid {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url(../img/backgroundServPrinc.png);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.gridServices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 10px 22px rgba(96, 96, 96, 0.3);
    border-radius: 5px;
}

.moverTexto {
    padding-top: 30px;
    text-align: left;
}

.moverIcono {
    padding-top: 20px;
    text-align: center;
}

.gridServices:hover {
    border: 2px solid #004B93;
}

.tamanoIconos {
    height: 70%;
    width: 60%;
}

/*#video{
   position:relative;
   right: 0;
   left: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}*/

.negociosGrid {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.moverElectricida {
    text-align: right;
}

.moverTelecomunicaciones {
    text-align: left;
}

.sizeImg {
    height: 50%;
    width: 50%;
}

.botonVerMas {
    height: 40px;
    width: 120px;
    font-size: 14px;
    background: #004B93;
    border: none;
    box-shadow: 0px 10px 22px rgba(96, 96, 96, 0.3);
    border-radius: 12px;
}

.estiloBoton {
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.estiloArticulos {
    border-radius: 5px;
    text-align: center;
}

.tamanoPic {
    height: 300px;
    width: 340px;
    display: inline-block;
}

.estiloArticulos:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 22px 70px 4px;
}

.calificanos {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
}

.estrellas {
    height: 40px;
    width: 80px;
}

.ratingButton {
    height: 40px;
    width: 120px;
    font-size: 14px;
    color: #fff;
    background-color: #004B93;
    border: none;
    box-shadow: 0px 10px 22px rgba(96, 96, 96, 0.3);
    border-radius: 12px;
    background: linear-gradient(to left, #004B93 50%, #fff 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.ratingButton:hover {
    background-position: left;
}

.btnRating {
    text-decoration: none;
    color: #fff;
}

.btnRating:hover {
    color: black;
}

.estilosFooter {
    height: 300px;
    background-color: #6c757d;
}

.gridFooter {
    height: 120px;
    background-color: hsla(200, 3%, 44%, 0.808);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;

}

.gridFila1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    padding-top: 20px;
    align-items: center;
    margin-right: 40px;
    margin-left: 20px;


}

.estilosFila1 {
    display: grid;
    grid-template-columns: 20px 200px;
}

.gridFilas2 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    margin-left: 50px;

}

.whatsapp {
    height: 20px;
    width: 20px;
}

.btnIdioma {
    background-color: #6c757d;
    color: #fff;
    border: none;
}